body{
    margin: 0%;
    overflow-x: hidden;
    }
html, body {
    height: 100vh;
    width: 100vw;
}
.background{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #95CD41;
}
    
#Body_Logo{
        position: absolute;
        width: 500px;
        height: auto;
        top: 10px;
        left:40px;
}
    
#Up_Logo{
        position: absolute;
        width: 45px;
        height: auto;
        float: right;
        top: 70px;
        right: 100px;
        
}
    
.InnerBox_1{
    background: #FFFFFF;
    position:absolute;
    border-radius: 40px 40px 0px 0px;
    top: 180px;
    width: 100vw;
    height: 100vh;
}
    
#Introduce_icon{
    position: absolute;
    width: 60px;
    height: auto;
}
    
    
#North_Pole_icon{
        position: absolute;
        width: 80px;
        height: auto;
        margin-left: 150px;
        top:105px;
}
    
    
    
#Flood_icon{
        position: absolute;
        width: 70px;
        height: auto;
        margin-left: 300px;
        top: 105px;
}
    
    
#Game_icon{
        position: absolute;
        width: 65px;
        height: auto;
        margin-left: 460px;
        top:95px;
    
}
    
    
.Category_Box{
        display: flex;
        margin-top: 100px;
        margin-left: 35%;
}
    
#Introduce_Text{
    margin-left: 20px;
    display: flex;
    top:180px;
    position: absolute;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 20px;
    color: #A3B1C2;
    
}
#North_Pole_Text{
    margin-left: 170px;
    display: flex;
    top:180px;
    position: absolute;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 20px;
    color: #A3B1C2;
    
}
#Flood_Text{
        margin-left: 322px;
        display: flex;
    top:180px;
    position: absolute;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 20px;
    color: #A3B1C2;
    
}
#Game_Text{
        margin-left: 474px;
        display: flex;
    top:180px;
    position: absolute;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 20px;
    color: #A3B1C2;
    
}
    
#Video_Box{
    top:400px;
    position: absolute;
    margin-left: 15%;
    
}
#Main_Box{
    top:1300px;
    position: absolute;
    margin-left: 20%;
    width: 60%;
    height: auto;
}
    
#line_1{
    position: absolute;
    top: 260px;
    margin-left: 25%;
    width: 50%;
}
    
.Introduce:hover {
        cursor: pointer;
}
.North_Pole:hover{
        cursor: pointer;
    
}
.Flood:hover{
        cursor: pointer;
    
}
.Game:hover {
        cursor: pointer;
}
    
.Introduce:hover > #Introduce_icon{ 
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
    width: 70px;
    margin-left: -8px;
}
.Introduce:hover > #Introduce_Text{ 
        color: #406080;
    
}
    
.North_Pole:hover > #North_Pole_icon{ 
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
            width: 90px;
            margin-left: 145px;
}
    .North_Pole:hover > #North_Pole_Text{ 
                color: #406080;
}
    
.Flood:hover > #Flood_icon{ 
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
        width: 80px;
        margin-left: 290px;
}
.Flood:hover > #Flood_Text{ 
            color: #406080;
}
    
.Game:hover > #Game_icon{ 
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
        width: 80px;
        margin-left: 453px;
        
    
}
.Game:hover > #Game_Text{ 
            color: #406080;
}
          
#box_1{
        position: absolute;
        width: 60%;
        top: 550px;
        margin-left: 21%;
        animation: fadeInUp 1s;
}
#line_2{
        position: absolute;
        top: 1430px;
        margin-left: 25%;
        width: 50%;
}

#box_2{
        position: absolute;
        width: 60%;
        top: 1500px;
        margin-left: 21%;
        animation: fadeInUp 3s;
}
#Cloud_1{
        position: absolute;
       top: 450px;
       margin-left: 320px;
       width: 150px;
       animation:up-down_1 1.4s infinite ease-in-out alternate;
}

@keyframes up-down_1{
        from{
          transform: translatey(0px);
        }
        to{
          transform: translatey(-20px);
        }
}
#Cloud_2{
        position: absolute;
       top: 520px;
       width: 60px;
       margin-left: 1175px;
      
}
#Cloud_3{
        position: absolute;
       top: 670px;
       width: 100px;
       margin-left: 1300px;
       animation:up-down_2 1.4s infinite ease-in-out alternate;
      
}
    
@keyframes up-down_2{
        from{
          left: 0;
        }
        to{
          left: 30px;
        }
}

#Cloud_4{
       position: absolute;
       top: 1550px;
       width: 200px;
       margin-left:250px;
   
      
}

#Cloud_5{
      position: absolute;
       top: 1500px;
       width: 60px;
       margin-left:300px;
       animation:up-down_2 1.4s infinite ease-in-out alternate;
   
      
}
#Cloud_6{
    position: absolute;
    top: 1700px;
    width: 150px;
    margin-left:1200px;
    animation:up-down_1 1s infinite ease-in-out alternate;          
}
#Cloud_7{
    position: absolute;
    top: 2600px;
    width: 130px;
    margin-left:300px;
    animation:up-down_1 1s infinite ease-in-out alternate;
           
              
}
#Under_Bar{
    position: absolute;
    top:240px;
    width: 70px;
    margin-left: 305px;
}
  
          
#Up_Logo:hover{
    width: 55px;
}


#Cloud_2v{
      position: absolute;
      top:3500px;
      margin-left: 500px;
      animation:up-down_1 0.8s infinite ease-in-out alternate;
}
        
#Cloud_7_2v{
          position: absolute;
          top:3670px;
          margin-left: 1100px;
          animation:up-down_2 1.4s infinite ease-in-out alternate;
}

body::-webkit-scrollbar {
    width: 20px;  
}

body::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #95CD41; 
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1); 
}


video{
  position: absolute;
  width:935px;
  height:500px;
  top:792px;
  margin-left: 395.5px;
  border-radius: 40px 40px 0px 0px;
  animation: fadeInUp 1.5s;

}     

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
} 

      